#BnB .btn-group{clear:both;}

#Wardrobe-Level{margin:1em auto 1.5em auto!important;float:right;000z-index:1000;}
#Wardrobe-Level::before{content:'阅读模式';float:left;color:#999;margin:5px 10px 0 0;}
#Wardrobe-Level .btn{border:none;width:30px;height:30px;padding:0;margin-right:0.5em;color:#fff;border-radius:50%;-moz-border-radius:50%;-khtml-border-radius:50%;-webkit-border-radius:50%;}
#Wardrobe-Level #masonry.btn.btn-primary,#Wardrobe-Level #list.btn.btn-primary{background:#a50034;}
#Wardrobe-Level .btn.btn-default{background:#ccc;}

#DressUp{display:block;clear:both;float:none;margin-bottom:2em;}
#DressUp .post-item .egg-white{border-radius:0;-moz-border-radius:0;-khtml-border-radius:0;-webkit-border-radius:0;}
#DressUp .list{margin:0 -1px 3px 0;border:1px solid #eee;border-bottom:5px solid #e5e5e5;border-top:1px solid #eaeaea;}

#DressUp .list.col-md-4.col-sm-4.col-xs-12 .post-item{min-height:300px;max-height:350px;overflow:hidden;}
#DressUp .list.col-md-4.col-sm-4.col-xs-12 .post-title{width:100%;font-size:1em;min-height:auto;height:70px;overflow:hidden;}
#DressUp .grid-width.bb{display:none;}

@media (min-width:800px) and (max-width:990px){
#DressUp .list.col-md-4.col-sm-4.col-xs-12 .post-item{min-height:300px;max-height:350px;}
}

@media (min-width:200px) and (max-width:767px){
.post-item .egg-white{margin-bottom:0.2em!important;}
#DressUp .list.col-md-4.col-sm-4.col-xs-12 .post-item{min-height:auto;max-height:auto;}
#DressUp .list.col-md-4.col-sm-4.col-xs-12 .post-title{width:auto;height:auto;font-size:1em;padding-left:0.8em;}
/* .section-sub-list #DressUp .post-item .post-detail{float:left;width:60%;} */
#DressUp .post-item .col-md-8.col-sm-8.col-xs-8.content .post-detail{width:100%;}
}

@media (min-width:200px) and (max-width:480px){
/* .section-sub-list #DressUp .post-item .post-detail{width:60%;} */
}

#Fish{}
#Chips{}
#Chips .btn-group{width:100%;}
#Chips .btn-group,#Chips .btn{margin:auto;text-align:center;clear:both;float:none;}
#Chips .btn{margin:0.5em auto;color:#000;background:#eee;padding:14px 5px;text-align:center;font-size:0.9em;}
#Chips .btn:hover{color:#fff;background:transparent;}
#Chips .btn em{border:1px dotted #000;padding:8px 3em;}
#Chips .btn:hover em{border-color:transparent;background:#000;}

.quicklist{text-align:right;position:relative;z-index:100;float:right;margin-left:0.4em;}
.quicklist button,.quicklist button:focus{background:#a50034;color:#fff;border:none;}
.quicklist button:hover{background:#000;color:#fff;}
.quicklist .dropdown-menu{min-width:auto;left:auto;right:1em;z-index:1000000000;}
.quicklist .dropdown-menu li:hover a{}
.quicklist.list-menu{margin:1em 0 -5em 0;}
.quicklist.dropdown button{margin:0.6em 0;border-radius:50px;-moz-border-radius:50px;-khtml-border-radius:50px;-webkit-border-radius:50px;background:#828282;padding-left:1.2em;padding-right:1em;}
.quicklist.dropdown .btn .caret{margin-left:10px;}

@media (min-width:200px) and (max-width:600px){
.quicklist{float:none;display:inline-block;}
.quicklist.list-menu{margin:0 0 -1em 0;}
.list-menu{text-align:center;display:block;width:100%;float:left;}
}

.list .post-item{float:left;width:100%;margin:0;padding:0.5em;}
.list.col-md-4.col-sm-4.col-xs-4 .post-item{float:none;width:auto;}
.list .post-item .col-md-4.col-sm-4.col-xs-4.imgs{padding:0;}

@media (min-width:200px) and (max-width:1500px){
.list .post-item .post-title{font-size:1.2em;}
.list.col-md-4.col-sm-4.col-xs-6 .post-item .post-title{font-size:1em!important;}
}

@media (min-width:200px) and (max-width:600px){
#DressUp .list{border:none;margin:0 0 3px 0;border-bottom:3px solid #e5e5e5;border-top:1px solid #eaeaea;}
.list .post-item{padding:10px 0;}
.section-sub-list #CommonWealth #Milk{padding:0!important;}
.list .post-item .post-title{font-size:1.05em;}
}

@media (min-width:200px) and (max-width:767px) {
#Fish{display:none;}
.section-list  #Chips{padding:0;}
#DressUp .col-xs-12 .egg-white{width:40%;float:left;margin-right:0!important;}
#DressUp .col-xs-12 .datestamp{float:right;margin-top:-2em;}
}


/* Inside Harrods */

.toggleWrapper{display:inline-block!important;margin:0 0.8em 0 0;border:none;white-space:nowrap;}
.toggleWrapper input{position:absolute;left:-99em;}
.navbar-collapse .toggleWrapper{display:none!important;}

@media (min-width:200px) and (max-width:767px) {
.navbar-collapse .toggleWrapper{display:inline-block!important;float:right;margin-right:3em!important;}
header #zone .toggleWrapper{margin-top:0.2em!important;}
}

.toggle{cursor:pointer;display:inline-block;position:relative;font-weight:normal;width:1px;height:20px;background-color:transparent;}
.toggle:before,.toggle:after{width:30px;height:30px;text-align:center;font-size:0.6em;padding-top:0.37em;position:absolute;top:0.1em;border-radius:50%;-moz-border-radius:50%;-khtml-border-radius:50%;-webkit-border-radius:50%;}
.toggle:before{content:'亮';left:-32px;}
.toggle:after{content:'暗';right:-32px;}

input + .toggle:before{color:#a50034;background:#fff;}
input + .toggle:hover:before{color:#a50034;background:#fff;}
input:checked + .toggle:before{color:#ababab;background:#fff;}
input:checked + .toggle:hover:before{color:#a50034;background:#fff;}

input + .toggle:after{color:#fff;background:#ccc;}
input + .toggle:hover:after{color:#fff;background:#333;}
input:checked + .toggle:after{color:#fff;background:#333;}
input:checked + .toggle:hover:after{color:#fff;background:#333;}

.navbar-collapse.in .zaobao-social{padding:0 0 1em 0;}
.navbar-collapse.in #social-channels.obese{display:inline-block!important;clear:none;width:auto!important;margin:0!important;float:left;white-space:nowrap;}
.navbar-collapse.in .toggleWrapper{margin:0;padding:0;}
.navbar-collapse.in .toggle{margin-left:0.5em;}
.navbar-collapse.in .toggle:before,.navbar-collapse.in .toggle:after{width:30px;height:30px;text-align:center;font-size:0.9em;padding-top:0.3em;top:0.6em;}

.dark{background-color:#1f1f1f;color:#828282;}
.day{background:#F7F7F7;}


